<html>
<head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

    <body>
        <section id="contact"><div class="contain1">
<article id="server1">
<h1>Category app</h1>
</article>

<a href="{{url_for('showmainpage')}}"><input type="button" value="logout"></a>
        </div></section>
        <div class="component">
<footer>
<article id="category">
<br>
       <h1>Category</h1>
       <br>
        {%   for i in categories        %}
        <a href ="#"><p>{{i.cname}}</p></a>
           

{% endfor %}

</article>
<article id="items">

        <a href="{{url_for('newMenuItem',category_name=category_name)}}">add item</a>
        <h1>Latest Items</h1>


<br>
{% for i in items %}
<a href="{{url_for('discriptionlog',category_name=i.iname,items_name=i.iname)}}">{{i.iname}}
({{i.cname}})<br></a>
{% endfor %}




</article>


</footer>
</div>

    </body>
</html>